* {
  font-family: "Raleway", sans-serif;
}
ul {
  list-style-type: none;
  padding: 0;
}
p {
  margin: 0;
}
.title {
  text-transform: uppercase;
  text-align: center;
}
.title-orange {
  color: orange;
}
.main-list {
  text-transform: uppercase;
  background-color: rgb(70, 153, 198);
  border-radius: 20px;
  padding: 20px;
}
.main-item {
  background-color: white;
  border-radius: 20px;
}
.first-col {
  padding-left: 20px;
}
.second-col {
  padding: 10px 20px;
  gap: 10px;
}
